<form data-ng-submit="send()">
    <div class="modal-header">
        <button type="button" class="close" data-ng-click="close()">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Send file via email</h4>
    </div>
    <div class="modal-body">

        <form role="form">
            <div class="form-group">
                <label>Enter email here.</label><input data-ng-init="initEmailInput()" type="text" id="input-email" class="form-control" placeholder="Enter email" data-ng-model="email.emails" autofocus>
            </div>
            <p ng-show="!email.email && submitted" class="error-text-password">{{inputEmailErr}}</p>
        </form>
        <form role="form">
            <div class="form-group">
                <label>Enter email subject.</label><input type="text" id="input-subject" class="form-control" placeholder="Enter Subject" data-ng-model="email.subject">
            </div>
            <p ng-show="!email.subject && submitted" class="error-text-password">{{inputSubjectErr}}</p>
        </form>
        <form role="form">
            <div class="form-group">
                <label>Email content</label>
                <div id="email-content">
                    <div data-ng-repeat="file in filesToShare" data-ng-animate>
                        <div><b>Link {{$index+1}} </b><br>
                            Url: {{file.uniqueUrl}}<br>
                            Password: {{file.password?file.password:'No password'}}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="close()">Cancel</button>
        <button type="submit" class="btn btn-primary" id="btn-email-send" data-ng-click="send()">Send</button>
    </div>
</form>
